In [4]:
import pandas as pd

# Carga los DataFrame desde el archivo CSV
data_reviews = pd.read_csv('G:\\PI MLOps - STEAM\\australian_user_reviews_ok.csv')
data_items = pd.read_csv('G:\\PI MLOps - STEAM\\data_users_items_ok.csv')
data_steam = pd.read_csv('G:\\PI MLOps - STEAM\\steam_games_ok.csv')

In [2]:
data_reviews.head()

             user_id  sentiment_analysis  item_id  recommend año_posted
0  76561197970982479                   2     1250          1       2011
1            js41637                   2   251610          1       2014
2          evcentric                   2   248820          1   Sin dato
3              doctr                   2   250320          1       2013
4          maplemage                   1   211420          1       2014

In [33]:
data_items.head()

             user_id  item_id                  item_name  playtime_forever
0  76561197970982479       10             Counter-Strike                 6
1  76561197970982479       20      Team Fortress Classic                 0
2  76561197970982479       30              Day of Defeat                 7
3  76561197970982479       40         Deathmatch Classic                 0
4  76561197970982479       50  Half-Life: Opposing Force                 0

In [19]:
data_steam.head()

,genres,app_name,release_date,tags,id,playtime_forever
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",761140,0
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",643980,0
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017,"['Free to Play', 'Simulation', 'Sports', 'Casu...",670290,0
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017,"['Action', 'Adventure', 'Casual']",767400,0
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018,"['Action', 'Adventure', 'Simulation', 'FPS', '...",772540,0

def PlayTimeGenre( genero : str ): Debe devolver año con mas horas jugadas para dicho género.
Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

In [27]:
def PlayTimeGenre(genero: str):    
        
    # Filtrar por el género específico
    df_genero = data_steam[data_steam['genres'].apply(lambda x: genero in x)]

    if df_genero.empty:
        # Devolver un mensaje si no hay juegos en el género especificado
        return {"Mensaje": "No hay juegos en el género especificado"}
    
    # Encontrar el juego con más horas jugadas
    juego_mas_horas = df_genero.loc[df_genero['playtime_forever'].idxmax()]
        # Obtener el año de lanzamiento del juego con más horas jugadas
    año_mas_horas = juego_mas_horas['release_date']

    # Crear el diccionario de retorno
    resultado = {"Año de lanzamiento con más horas jugadas para Género " + genero: año_mas_horas}

    return resultado

In [30]:
resultado_ejemplo = PlayTimeGenre('Adventure')
print(resultado_ejemplo)

{'Año de lanzamiento con más horas jugadas para Género Adventure': 2017}

def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.
Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

In [41]:
def UserForGenre(genero: str):
    
    # Filtrar por el género específico
    df_genero = data_steam[data_steam['genres'].apply(lambda x: genero in x)]
    df_usuario = data_items[data_items['item_name'].apply(lambda x: genero in x)]
    
    if df_genero.empty:
        # Devolver un mensaje si no hay juegos en el género especificado
        return {"Mensaje": "No hay juegos en el género especificado"}
    
    # Encontrar el usuario con más horas jugadas
    usuario_mas_horas = df_usuario.loc[df_usuario['playtime_forever'].idxmax()]['user_id']
    # Obtener el total de horas jugadas por el usuario
    horas_mas_usuario = df_usuario['playtime_forever'].max()
    # Crear una lista de acumulación de horas jugadas por año
    acumulacion_horas_por_año = df_genero.groupby('release_date')['playtime_forever'].sum().reset_index()
    lista_acumulacion = [{"Año": int(año), "Horas": horas} for año, horas in zip(acumulacion_horas_por_año['release_date'], acumulacion_horas_por_año['playtime_forever'])]
    # Crear el diccionario de retorno
    resultado = {"Usuario con más horas jugadas para Género " + genero: usuario_mas_horas,
                 "Total de horas jugadas por el usuario": horas_mas_usuario,
                 "Acumulación de horas jugadas por año": lista_acumulacion}
    
    return resultado

In [44]:
resultado_ejemplo = UserForGenre('Action')
print(resultado_ejemplo)

{'Usuario con más horas jugadas para Género Action': 'Lickidactyl', 'Total de horas jugadas por el usuario': 109916, 'Acumulación de horas jugadas por año': [{'Año': 0, 'Horas': 10605}, {'Año': 1983, 'Horas': 55}, {'Año': 1984, 'Horas': 39}, {'Año': 1988, 'Horas': 305}, {'Año': 1989, 'Horas': 4}, {'Año': 1990, 'Horas': 81}, {'Año': 1991, 'Horas': 99}, {'Año': 1992, 'Horas': 20}, {'Año': 1993, 'Horas': 677}, {'Año': 1994, 'Horas': 2082}, {'Año': 1995, 'Horas': 3446}, {'Año': 1996, 'Horas': 674}, {'Año': 1997, 'Horas': 2696}, {'Año': 1998, 'Horas': 19293}, {'Año': 1999, 'Horas': 4583}, {'Año': 2000, 'Horas': 15078}, {'Año': 2001, 'Horas': 7005}, {'Año': 2002, 'Horas': 3999}, {'Año': 2003, 'Horas': 20407}, {'Año': 2004, 'Horas': 17852}, {'Año': 2005, 'Horas': 13876}, {'Año': 2006, 'Horas': 15442}, {'Año': 2007, 'Horas': 46325}, {'Año': 2008, 'Horas': 19397}, {'Año': 2009, 'Horas': 47060}, {'Año': 2010, 'Horas': 113142}, {'Año': 2011, 'Horas': 219519}, {'Año': 2012, 'Horas': 210911}, {'Año': 2013, 'Horas': 163576}, {'Año': 2014, 'Horas': 187679}, {'Año': 2015, 'Horas': 311417}, {'Año': 2016, 'Horas': 313239}, {'Año': 2017, 'Horas': 171456}, {'Año': 2018, 'Horas': 21}, {'Año': 2019, 'Horas': 0}]}

def UsersRecommend( año : int ): Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [11]:
def UsersRecommend(año: int):

    # Obtener una muestra aleatoria del DataFrame
    df_sample = data_reviews.sample(frac=0.15, random_state=42)
    # Fusionar los DataFrames para obtener la información relevante
    df_merged = pd.merge(df_sample[['item_id', 'recommend', 'sentiment_analysis', 'año_posted']],
                    data_items[['item_id', 'item_name']],
                    on='item_id',
                    how='inner')
    # Filtrar por el año especificado
    df_año = df_merged[df_merged['año_posted'] == str(año)]

    if df_año.empty:
        # Devolver un mensaje si no hay datos para el año especificado
        return {"Mensaje": "No hay datos para el año especificado"}
    
    # Filtrar por recomendaciones positivas/neutrales
    df_recomendados = df_año[(df_año['recommend'] == True) & (df_año['sentiment_analysis'].isin([1, 2]))]

    if df_recomendados.empty:
        # Devolver un mensaje si no hay juegos recomendados para el año especificado
        return {"Mensaje": "No hay juegos recomendados para el año especificado"}
    # Contar las recomendaciones por juego
    conteo_recomendaciones = df_recomendados['item_name'].value_counts().reset_index()
    conteo_recomendaciones.columns = ['Juego', 'Recomendaciones']
    # Obtener el top 3 de juegos recomendados
    top3_recomendados = conteo_recomendaciones.head(3)
    # Crear la lista de retorno
    resultado = [{"Puesto " + str(i + 1): {"Juego": juego, "Recomendaciones": recomendaciones}} for i, (juego, recomendaciones) in enumerate(top3_recomendados.values)]

    return resultado

In [13]:
resultado_ejemplo = UsersRecommend(2013)
print(resultado_ejemplo)

[{'Puesto 1': {'Juego': "Garry's Mod", 'Recomendaciones': 985527}}, {'Puesto 2': {'Juego': 'Counter-Strike: Global Offensive', 'Recomendaciones': 563316}}, {'Puesto 3': {'Juego': 'Left 4 Dead 2', 'Recomendaciones': 549915}}]

def UsersNotRecommend( año : int ): Devuelve el top 3 de juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [15]:
def UsersNotRecommend(año: int):

    # Obtener una muestra aleatoria del DataFrame
    df_sample = data_reviews.sample(frac=0.15, random_state=42)
    # Fusionar los DataFrames para obtener la información relevante
    df_merged = pd.merge(df_sample[['item_id', 'recommend', 'sentiment_analysis', 'año_posted']],
                    data_items[['item_id', 'item_name']],
                    on='item_id',
                    how='inner')
    # Filtrar por el año especificado
    df_año = df_merged[df_merged['año_posted'] == str(año)]

    if df_año.empty:
        # Devolver un mensaje si no hay datos para el año especificado
        return {"Mensaje": "No hay datos para el año especificado"}
    
    # Filtrar por recomendaciones negativas
    df_no_recomendados = df_año[(df_año['recommend'] == False) & (df_año['sentiment_analysis'].isin([0]))]

    if df_no_recomendados.empty:
        # Devolver un mensaje si no hay juegos no recomendados para el año especificado
        return {"Mensaje": "No hay juegos no recomendados para el año especificado"}
    
    # Contar las no recomendaciones por juego
    conteo_no_recomendaciones = df_no_recomendados['item_name'].value_counts().reset_index()
    conteo_no_recomendaciones.columns = ['Juego', 'Recomendaciones']
    # Obtener el top 3 de juegos recomendados
    top3_no_recomendados = conteo_no_recomendaciones.head(3)
    # Crear la lista de retorno
    resultado = [{"Puesto " + str(i + 1): {"Juego": juego, "No lo recomiendan ": no_recomendaciones}} for i, (juego, no_recomendaciones) in enumerate(top3_no_recomendados.values)]

    return resultado

In [16]:
resultado_ejemplo = UsersNotRecommend(2015)
print(resultado_ejemplo)

[{'Puesto 1': {'Juego': 'PAYDAY 2', 'No lo recomiendan ': 93800}}, {'Puesto 2': {'Juego': 'Counter-Strike: Global Offensive', 'No lo recomiendan ': 86664}}, {'Puesto 3': {'Juego': "Garry's Mod", 'No lo recomiendan ': 85698}}]

def sentiment_analysis( año : int ): Según el año de lanzamiento, se devuelve una lista con la cantidad de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento.
Ejemplo de retorno: {Negative = 182, Neutral = 120, Positive = 278}