In [18]:
import pandas as pd

# Carga los DataFrame desde el archivo CSV
data_reviews = pd.read_csv('G:\\PI MLOps - STEAM\\australian_user_reviews_ok.csv')
data_items = pd.read_csv('G:\\PI MLOps - STEAM\\data_users_items_ok.csv')
data_steam = pd.read_csv('G:\\PI MLOps - STEAM\\steam_games_ok.csv')

In [2]:
data_reviews.head()

             user_id  sentiment_analysis  item_id  recommend año_posted
0  76561197970982479                   2     1250          1       2011
1            js41637                   2   251610          1       2014
2          evcentric                   2   248820          1   Sin dato
3              doctr                   2   250320          1       2013
4          maplemage                   1   211420          1       2014

In [3]:
data_items.head()

   item_id                  item_name  playtime_forever
0       10             Counter-Strike                 6
1       20      Team Fortress Classic                 0
2       30              Day of Defeat                 7
3       40         Deathmatch Classic                 0
4       50  Half-Life: Opposing Force                 0

In [19]:
data_steam.head()

,genres,app_name,release_date,tags,id,playtime_forever
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",761140,0
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",643980,0
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017,"['Free to Play', 'Simulation', 'Sports', 'Casu...",670290,0
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017,"['Action', 'Adventure', 'Casual']",767400,0
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018,"['Action', 'Adventure', 'Simulation', 'FPS', '...",772540,0

def PlayTimeGenre( genero : str ): Debe devolver año con mas horas jugadas para dicho género.
Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

In [27]:
def PlayTimeGenre(genero: str):    
    
    # Filtrar por el género específico
    df_genero = data_steam[data_steam['genres'].apply(lambda x: genero in x)]

    if df_genero.empty:
        # Devolver un mensaje si no hay juegos en el género especificado
        return {"Mensaje": "No hay juegos en el género especificado"}

    # Encontrar el juego con más horas jugadas
    juego_mas_horas = df_genero.loc[df_genero['playtime_forever'].idxmax()]

    # Obtener el año de lanzamiento del juego con más horas jugadas
    año_mas_horas = juego_mas_horas['release_date']

    # Crear el diccionario de retorno
    resultado = {"Año de lanzamiento con más horas jugadas para Género " + genero: año_mas_horas}

    return resultado

In [29]:
resultado_ejemplo = PlayTimeGenre('Casual')
print(resultado_ejemplo)

{'Año de lanzamiento con más horas jugadas para Género Casual': 2014}